<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="${movieToEdit != null} ? '/movies/edit' : '/movies/add'" method="POST">
    <input id="id" type="hidden" name="movieId"
           th:value="(${movieToEdit} != null ? ${movieToEdit.getId()} : '')">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text"
               class="form-control"
               id="title"
               name="title"
               th:value="(${movieToEdit} != null ? ${movieToEdit.getTitle()} : '')"
               required
               placeholder="Enter movie title">
    </div>
    <div class="form-group">
        <label for="summary">Summary</label>
        <input type="text"
               class="form-control"
               id="summary"
               name="summary"
               th:value="(${movieToEdit} != null ? ${movieToEdit.getSummary()} : '')"
               placeholder="Summary">
    </div>
    <div class="form-group">
        <label for="Rating">Rating</label>
        <input type="text"
               class="form-control"
               id="Rating"
               name="rating"
               th:value="(${movieToEdit} != null ? ${movieToEdit.getRating()} : '')"
               placeholder="Rating">
    </div>
<!--    <div class="form-group">-->
<!--        <label for="production">Production</label>-->
<!--        <select id="production" name="production" class="form-control">-->
<!--            <option th:if="${movieToEdit} != null"-->
<!--                    th:selected="${movieToEdit.getProduction() != null &&-->
<!--                                movieToEdit.getProduction().getId() == prod.getId()}"-->
<!--                    th:each="prod : ${productions}"-->
<!--                    th:value="${prod.getId()}"-->
<!--                    th:text="${prod.getName()}">-->
<!--            </option>-->
<!--            <option th:if="${movieToEdit} == null"-->
<!--                    th:each="prod : ${productions}"-->
<!--                    th:value="${prod.getId()}"-->
<!--                    th:text="${prod.getName()}">-->
<!--            </option>-->
<!--        </select>-->
<!--    </div>-->
    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
    <a type="button" class="btn btn-primary" href="/movies">Back</a>
</form>
</body>
</html>