<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body>

<h2>User Registration</h2>

<form th:action="@{/movies/users/register}" th:method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required="required">

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required="required">

    <label for="surname">Surname:</label>
    <input type="text" id="surname" name="surname" required="required">

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required="required">

    <button type="submit">Register</button>
</form>

</body>
</html>
