@model BookingApplication.Models.BookingList

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    double totalPrice = 0;
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-controller="BookingLists">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Apartment Name
            </th>
            <th>
                Price per night
            </th>
            <th>
                Number of nights
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BookReservations) {
            totalPrice += item.NumberOfNights * item.Reservation.Apartment.Price_per_night;
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reservation.Apartment.ApartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reservation.Apartment.Price_per_night)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfNights)
            </td>
            <td>
                    <form asp-action="Delete" asp-route-id="@item.Id" asp-controller="BookingLists">
                        <button class="btn btn-danger">Delete</button>
                    </form>
            </td>
        </tr>
}
    </tbody>
    <tfoot>
         Total Price: @totalPrice
    </tfoot>
</table>
