# Ignore IntelliJ IDEA files
.idea/

# Ignore Gradle files
.gradle/

# Ignore build folders
build/

# Ignore target folders
target/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IS Auds Project
Integrirani\ sistemi/EShopApp

# Ignore DNICK Auds Project
DNICK/Restaurant

# ABS Auds
ABS/[Aa][Vv]*