<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
    <h2>Info about our request</h2>
    <div>IP address:<th:block th:text="${ipAddress}"/></div>
    <div>Client agent:<th:block th:text="${clientAgent}"/></div>
    <th:block th:if="${session.user!=null}">
        <div>Client name and surname:
            <th:block th:text="${session.user.getName()+' '+session.user.getSurname()}"/>
        </div>
        <div>
            <a href="/logout">Logout</a>
        </div>
    </th:block>
    <h2>Categories</h2>
    <ul>
        <li th:each="category : ${categories}"><th:block th:text="${category.name}"/> (<th:block th:text=" ${category.desc}"/>)</li>
    </ul>
    <h3>Add new category</h3>
    <form th:method="POST" th:action="@{/}">
        <label for='name'>Name:</label>:<input id='name' type="text" name="name"/>
        <label for="desc">Description:</label>:<input id="desc" type="text" name="description"/>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>