{% extends 'base.html' %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


    <div class="container border-start border-end py-2">
    <img src="https://i.ibb.co/2n2b7b1/kocki.png" alt="kocki">
    <h1>Ask for event</h1>
    <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h6>
    <h6>Est fuga iste iusto perferendis quam.</h6>
        
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="event_id">
            {{ form.as_p }}
            <div class="container d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Submit form</button>
            </div>
        </form>
    </div>
{% endblock %}
