<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam</title>
</head>
<body>
<!-- The form should submit to CandidatesController.create or CandidatesController.update,
     depending on whether we are creating or editing a candidate -->
<form th:method="POST" th:action="@{ ${candidate == null} ? '/candidates' : '/candidates/{id}' (id=${candidate?.id})}">
    <div>
        <label for="name">Name</label>
        <input type="text"
               id="name"
               name="name"
               required
               th:value="${candidate?.name}"
        >
    </div>
    <div>
        <label for="bio">Biography</label>
        <input type="text"
               id="bio"
               name="bio"
               required
               th:value="${candidate?.bio}"
        >
    </div>
    <div>
        <label for="dateOfBirth">Date of Birth</label>
        <input type="date"
               id="dateOfBirth"
               name="dateOfBirth"
               required
               th:value="${candidate?.dateOfBirth}"
        >
    </div>
    <div>
        <label for="gender">Gender</label><br/>
        <select id="gender" name="gender" multiple="multiple" size="5">
            <!-- For each gender you should have one <option> like below  -->
            <option th:each="gender : ${genders}" th:value="${gender.name()}" th:text="${gender.name()}" th:selected="${candidate?.gender?.equals(gender)}"> [gender.name]</option>
        </select>
    </div>
    <div>
        <label>Party</label><br/>
        <select id="party" name="party" multiple="multiple" size="5">
            <!-- For each party you should have one <option> like below  -->
            <option th:each="party : ${parties}" th:value="${party.id}" th:text="${party.getName()}" th:selected="${candidate?.party?.id?.equals(party.id)}"> [party.name]</option>
        </select>
    </div>

    <button id="submit" type="submit">Submit</button>
    <a id="back" href="/candidates" type="button" class="btn btn-primary">Back to candidates</a>
</form>

<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>

</body>
</html>
